* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
}

.mobile-marquee {
    display: none;
}

@media (max-width: 768px) {
    .mobile-marquee {
        display: block;
    }
}

marquee {
    background-color: transparent;
    color: #B0B0B0;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    font-weight: normal;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 5px solid #0056b3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    font-weight: 300;
}

.contact-section {
    background-color: #fff;
    padding: 50px 20px;
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5em;
    color: #333;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.contact-item {
    flex: 1;
    min-width: 280px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.contact-item:hover {
    transform: translateY(-10px);
}

.contact-item h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #007BFF;
}

.contact-item p a {
    color: #007BFF;
    font-size: 1.2em;
    text-decoration: none;
}

.contact-item p a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    border-top: 5px solid #007BFF;
}

footer p {
    font-size: 1em;
    font-weight: 300;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1em;
    }

    .contact-section {
        padding: 30px 20px;
    }

    h2 {
        font-size: 2em;
    }

    .contact-info {
        flex-direction: column;
        align-items: center;
    }

    .contact-item {
        min-width: 100%;
        margin-bottom: 20px;
    }
}
